 <section class="main">
    <div class="prose">
        <h1>Tai'veyon Shaw</h1>
    </div>

  <article class="prose">
    <p>
      Currently working on <strong>creating a model in C</strong> since I suck at C.
      </a>
    </p>

    <p>
      Neural networks, simulations and developing websites are my three focuses currently but plan on transitioning to robotics after
      learning electrical and mechanical engineering. Networking is something I am also interested in.
      You can find my <a href="#projects" class="social-link" data-page="projects">complete project portfolio here</a>.
    </p>

    <p>
      When I'm not coding, I enjoy snowboarding, traveling, and understanding new
      technologies. Currently focused on understanding the transformer model and the math behind it.
    </p>

    <p>Currently living in <strong>Charleston, South Carolina</strong>.</p>
  </article>
</section>
